html{
  scroll-behavior: smooth;
}


/*
----------- Menu --------------
*/
header {
  font-style: 'GidoleRegular', serif; 
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    height: 65px;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}


nav ul {
  font-style: 'GidoleRegular', serif; 
    display: inline-block;
    padding-left: 0;
    list-style: none;
    padding: 20px;
    margin-bottom: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

nav li {
  font-style: 'GidoleRegular', serif; 
    display: inline-block;
    margin: 10px;
}

nav li a {
  font-style: 'GidoleRegular', serif; 
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #B46D41;
    font-size: 11px;
    font-weight: bold;
}

a:focus {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #333333;
    text-decoration: none;
    font-size: 12px;
}



/*
----------- Secções --------------
*/
#home {
    background: url(../img/home-bw.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center top; 
}


#about {
    padding: 100px 0;
    background: #f3f3f3;
    height: 100%;
}

#formation {
    padding: 100px 0;
    background: #fff;
    height: 100%;
}

#experience {
    padding: 100px 0;
    background: #f3f3f3;
    height: 100%;
}

#skills{
    padding: 100px 0;
    background: #fff;
    height: 100%;
}

#projects {
    padding: 100px 0;
    background: #f3f3f3;
    height: 100%;
}

/*
----------- Títulos --------------
*/
h1 {
    font-family: 'GidoleRegular', serif;
    font-size: 80px;
    line-height: 70px;
    color: #f3f3f3;
}

h2 {
    font-family: 'GidoleRegular', serif;
    font-size: 60px;
    line-height: 70px;
}

h3 {
    font-family: 'GidoleRegular', serif;
    font-size: 30px;
    line-height: 30px;
    color: #B46D41;
}

h4 {
    font-family: 'GidoleRegular', serif;
    font-size: 20px;
    line-height: 30px;
    color: #B46D41;
    padding-top: 4%
}

p {
  font-family: 'Montserrat';
  letter-spacing: 1px;
 }


/*
----------- Home Page --------------
*/

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.disply-table {
    display: table;
    height: 100vh;
}

.bg-nav {
    background: #fff;
    border-bottom: 1px solid #f3f3f3
}

.bg-nav ul {
    padding: 10px;
}


/*
----------- About Me --------------
*/

.bio{
	font-style: italic;
	padding: 3%;
	font-size: 20px;
}

.info {
	float: right;
}

.social {
    padding-left: 0;
    list-style: none;
    margin-top: 20px;
    color: #333;
}

.social li {
    float: left;
}

.social li a {
    color: #333;
    font-size: 35px;
    margin-right: 15px;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.social li a:hover {
    color: #B46D41;
}

.icons {
  margin-left: 2%;
  width: 5%;
  height: 5%;

}

/*
----------- Formação --------------
*/

.complementar{
	float: right;
}


.timeline{
	padding: 5%;
}


.timeline-item {
  padding: 3% 4% 4%;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}
.timeline-item p {
  font-size: 15px;
  margin-bottom: 5%;
  margin-top: -5%;
}

.timeline-item h2 {
  font-size: 30px;
  margin-top: -1%;
}

.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 4%;
  font-weight: bold;
  top: 0%;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #B46D41;
  font-size: 17px;
}
.timeline-item::after {
  width: 20px;
  height: 20px;
  display: block;
  top: 1%;
  position: absolute;
  left: -11px;
  border-radius: 10px;
  content: '';
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
}
.timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
     border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
}

.timeline-item:hover h2{
    font-size: 31px;
}

.row{
	padding: 4%;
}

/*
----------- Experiencia --------------
*/

.box{
  display:table;
  position:relative;
  background:#fff;
  width: 100%;
  border:1px solid #e7e7e7;
  margin:40px auto 0 0;

}

.box img{
  width: 50px;
  height: 50px;
  position:absolute;
  margin:0 0 0 0;
  z-index:5;
  left:-20px;
  top:-15px;
}

.box p{
  float:left;
  text-align:left;
  font-size:15px;
  color:#5f5f5f;
  margin: 0 40px 40px 40px;
}

.box h2{
  font-size: 30px;
  margin-top: 6%;
  margin-left: 40px;
  margin-right:40px;
  line-height: normal;
}

.box h4{
  font-size: 15px;
  margin: 0 0 0 40px;
}

.box:hover h2{
    color:#B46D41;
    font-size: 31px;
}

.box:hover h4{
    color:#333;
    font-weight: bold;
}



/*
----------- Skills --------------
*/

.features_item .f_item_icon{
    float: left;
    width:15%;
    display: inline-block;
    margin-right: 15px;
}

.features_item h3{
  color: #333333;
  margin-top: 5px;
  padding: 1%;
}

.features_item .f_item_icon i{
    font-size: 2.5rem;
    color: #454545;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #454545;
    display: inline-block;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.features_item .f_item_text{
    display: inline-block;
    width:75%;
}
.features_item .f_item_text p{
    font-size:14px;
}
.features_item:hover .f_item_icon i{
    background-color: #B46D41;
    border-color:#B46D41;
    color:#fff;
}
.features_item:hover .f_item_text h3{
    color:#B46D41;
}

.item h3{
  color: #333;
}

.item:hover h3{
  font-size: 32px;
}

.item:hover .teamskillbar-bar{
  height:6px;
}


.item:hover .teamskillbar{
  height:6px;
}


.teamskillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    margin-top: 10%;
    width:100%;
    background: #ddd;
    height:4px;
    -webkit-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    transition-property:width, background-color;
}

.teamskillbar-bar {
    height:4px;
    width:0px;
    background:#B46D41;
    position: absolute;
    left:0px;
    top:0px;
}




/*
----------- Projectos --------------
*/

.item{ 
  background-color: white;
}

.item h4{
  color: #B46D41;
  font-size: 25px;
}

.item:hover h4{
  color: #333;
  font-size: 30px;
}

.item:hover p{
  font-weight: bold;
}

.imgicons {
	width: 20%;
	height: 20%;
}

.description p{
  text-align: justify;
  padding: 5%;
}

.carousel{
  margin-top: 5%;
}

/* ------------- Rodapé -------------------- */

.footer-distributed{
	background-color: #333;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}


.footer-distributed h3{
	color:  #B46D41;
	font: lighter 36px 'GidoleRegular', serif;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #B46D41;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	font-weight: lighter;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #B46D41;
	font-size: 14px;
	font-weight: lighter;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}


.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: lighter;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #fff;
	font-weight: lighter;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #B46D41;
	font-size: 13px;
	font-weight: lighter;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 2px;

	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover{
	color: #B46D41;
}



@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


/* ------------- Animação -------------------- */


.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

